
/* style.css */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 60px;
    line-height: 1.7;
}

h1 {
    text-align: center;
    color: #1f4ed8;
    font-size: 28px;
}

ol.main-list {
    list-style-type: upper-alpha;
    color: red;
    font-weight: bold;
    font-size: 18px;
}

ol.main-list > li {
    margin-top: 20px;
}

ul.circle {
    list-style-type: circle;
    color: black;
    font-weight: normal;
    font-size: 16px;
    margin-left: 40px;
}

.sub-text {
    color: black;
    font-weight: normal;
    font-size: 16px;
    margin-left: 40px;
}
